{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="options">
        <div><a href="/encrypt-decrypt-file/">Encrypt & Decrypt File</a></div>
        <div><a href="/share-file/">Share File</a></div>
        <div><a href="/received-files/">Received Files</a></div>
    </div>
    <h1>Download file</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Selected file</label>
            <input type="text" name="file" value="{{file_name}}" readonly>
        </div>
    
        <div class="form-group">
            <button type="submit">Decrypt & Download</button>
        </div>
    </form>
</div>
{% endblock %}