{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="options">
        <div><a href="/encrypt-decrypt-file/">Encrypt & Decrypt File</a></div>
        <div><a href="/share-file/">Share File</a></div>
        <div><a href="/received-files/">Received Files</a></div>
    </div>
    <h3 style="margin-top:5%">Encryption</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Select file</label>
            <input type="file" name="fileToUpload" required>
        </div>
        <button class="small-button" type="submit" value="Upload" name="encrypt">Encrypt & Download</button>
    </form>

    <h3 style="margin-top:5%">Decryption</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Select encrypted file</label>
            <input type="file" name="fileToUpload" required>
        </div>
        <button class="small-button" type="submit" value="Upload" name="decrypt">Decrypt & Download</button>
    </form>
    <button class="logout"><a href="/logout/">Logout</a></button>
</div>

{% endblock %}